<?xml version="1.0"?>
<!--
    注意: 除了手動變更此檔案之外，您還可以使用
    Web 管理工具進行應用程式的設定。請使用
    Visual Studio 中的 [網站] ->[Asp.Net 組態] 選項。
    您可以在 machine.config.comments (通常
    位於 \Windows\Microsoft.Net\Framework\vx.x\Config) 中
    找到完整的設定和註解清單 
-->
<configuration>
  <appSettings>
  <add key="Rinnai.AutoIm" value="http://127.0.0.1/AutoIm.asmx"/>
    <add key="ProcessUserName" value="juncheng.liu"/>
    <add key="ProcessUserPwd" value="ja$19840528" />
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            設定 compilation debug="true" 以將偵錯符號
            插入至編譯的頁面。因為這會
            影響效能，所以請只在開發期間
            才將此值設定為 true。
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
          <authentication> 區段可讓您設定 
          ASP.NET 用來識別連入使用者的 
          安全性驗證模式。 
        -->
    <authentication mode="Windows"/>
    <!--
           <customErrors> 區段可讓您設定
           當執行要求期間發生無法處理
           之錯誤時的處理方式。更明確地說，
           開發人員可以利用它設定要顯示的 
           html 錯誤頁面，以取代錯誤堆疊追蹤。

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        在 Internet Information Services 7.0 下，需要有 system.webServer 區段才能執行
        ASP.NET AJAX。在舊版 IIS 下則不需要。
    -->
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>